#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .App {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .List {
    border: 2px solid #ccc;
    padding: 10px;
    width: 120px;
    text-align: center;
    margin: 10px;
  }
  
  .List div {
    margin: 5px;
    padding: 8px;
    background-color: #524f4f;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .DraggableItem {
    margin: 5px;
    padding: 8px;
    background-color: #424141;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .DraggableItem.dragging {
    opacity: 0.7;
  }
  
  .DropTarget {
    display: inline;
    padding: 5px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%

  }
  
  .DropTarget.highlight {
    background-color: #e0f0e0;
  }
  
  p {
    font-size: 1.5rem;
  }
  
#item1{
  color: aqua;
}
 h1{
    color: #ffffff;
    font-size: 2.5rem;

 }
 